
<main class="container mx-auto">
  <div class="font-bold mx-auto text-center input-group">

    <%= form_with(method: 'get', local: true) do %>
      <%= text_field_tag(:query, @query, size: 70, placeholder: 'Enter Zip code', class: 'input',  required: true ) %> <br>
      <%= submit_tag("Search", class:'button--submit') %>
    <% end %>

  </div>


  <div class="text-center">
    <% if !@weather.nil? %>
      <p class="text-center"> <%= Date.today.strftime("%A, %B %d") %> </p>
      <div class="image">
        <img src="<%=@weather.weather_icons.first %>">
      </div>
      <p class="text-center"> <%= @weather.location_name %>,  <%= @weather.region %> </p>


      <p>Current Temperature: <%= @weather.current_temperature%></p>
      <p> <%= @weather.weather_description%></p>
      <p>Wind direction: <%=@weather.wind_dir%></p>
      <p>Wind speed: <%=@weather.wind_speed%>Mph</p>
      <p>Feels like: <%=@weather.feels_like%></p>
      <p>Data result from Cache: <%=@weather.from_cache%></p>
    <% end %>
  </div>
</main>