
<main class="container mx-auto">
  <div class="font-bold mx-auto w-full text-center">

    <%= form_with(method: 'get', local: true) do %>
      <%= label(:query, "Enter Zip code") %>
      <%= text_field_tag(:query, @query || @query_default, size: 70) %> <br>
      <%= submit_tag("Search") %>
    <% end %>


    <% if !@weather.nil? %>
      <p class="text-center"> <%= Date.today.strftime("%A, %B %d") %> </p>
      <img class="mx-auto" src="<%=@weather.weather_icons.first %>">
      <p class="text-center"> <%= @weather.location_name %>,  <%= @weather.region %> </p>


      <p>Current Temperature: <%= @weather.current_temperature%></p>
      <p> <%= @weather.weather_description%></p>
      <p>Wind direction: <%=@weather.wind_dir%></p>
      <p>Wind speed: <%=@weather.wind_speed%></p>
      <p>Feels like: <%=@weather.feelslike%></p>
      <p>Data result from Cache: <%=@zip_cache_exist%></p>
    <% end %>
  </div>
</main>